.libraries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 150px); /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Hide scrollbar for WebKit browsers */
.libraries::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.libraries {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.section {
  width: 100%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.95em;
  padding: 10px 0;
  padding-bottom: 0px;
}

.characterList {
  margin-top: 5px;
  list-style-type: none;
  padding: 0;
}

.characterItem {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterName {
  font-weight: bold;
  flex-grow: 1;
}

.characterDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.characterStats {
  display: flex;
  gap: 5px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  padding: 5px;
  font-size: 16px;
}

.modal button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .characterDetails {
    flex-direction: column;
    align-items: flex-start;
  }

  .actionButtons {
    width: 100%;
    justify-content: flex-start;
  }
}
